# ffmpeg dependencies
libaom0 \
libaribb24-0 \
libass5 \
libbluray1 \
libcaca0 \
libcdio-paranoia1 \
libchromaprint1 \
libcodec2-0.4 \
libdrm2 \
libfdk-aac2 \
libfontconfig1 \
libfreetype6 \
libfribidi0 \
libgme0 \
libgmp10 \
libgsm1 \
libjack0 \
liblilv-0-0 \
libmodplug1 \
libmp3lame0 \
libmysofa1 \
libnorm1 \
libogg0 \
libopenal1 \
libopencore-amrnb0 \
libopencore-amrwb0 \
libopenjp2-7 \
libopenmpt0 \
libopus0 \
libpulse0 \
librsvg2-2 \
librtmp1 \
librubberband2v5 \
libsdl2-2.0-0 \
libshine-dev \
libsmbclient \
libsnappy1v5 \
libsoxr0 \
libspeex1 \
libsrt1-gnutls \
libssh-4 \
libssl1.0.0 \
libtesseract3 \
libtheora0 \
libtwolame0 \
libv4l-0 \
libva1 \
libvdpau1 \
libvidstab1.1 \
libvo-amrwbenc0 \
libvorbis0a \
libvpx3 \
libwavpack1 \
libwebp5 \
libx264-155 \
libx265-192 \
libxau6 \
libxcb-shape0 \
libxcb-shm0 \
libxcb-xfixes0 \
libxcb1 \
libxml2 \
libxv1 \
libxvidcore4 \
libzimg2 \
libzmq5 \
libzvbi0 \
zlib1g \