# opencv dependencies
libatlas3-base \
libavcodec58 \
libavformat58 \
libavresample4 \
libdc1394-22 \
libfaac0 \
libgflags2v5 \
libgoogle-glog0v5 \
libgphoto2-6 \
libgstreamer-plugins-base1.0-0 \
libgstreamer1.0-0 \
libhdf5-10 \
libjpeg8 \
liblapack3 \
liblapacke \
libmp3lame0 \
libopenblas-base \
libopencore-amrnb0 \
libopencore-amrwb0 \
libopenexr22 \
libopenjp2-7 \
libpng12-0 \
libprotobuf9v5 \
libswscale5 \
libtbb2 \
libtesseract3 \
libtheora0 \
libtiff5 \
libv4l-0 \
libvorbis0a \
libvtk6.2 \
libwebp5 \
libx264-155 \
libxine2 \
libxvidcore4 \
zlib1g \